.nav {
	background-color: #1e88e5;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }
  
  .page-footer {
  	background-color: #1976d2;
  }

  .footer-copyright {
     background-color: #0d47a1;
  }



.header-text {
  width: 80%;
  height: 100%;
  margin:auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}

span.color-txt-red {
  color: #26A69A;
}

.header-text h1 {
  color: #1E88E5;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header-text p {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1%;
}

.placing{
  margin-top: 2%;
  width: 80%;
  
}

.text-discription h4 {
text-align: center;
color: #1E88E5;
margin-top: 2px;
}

.text-discription p {
  text-indent:5%;
}

.text-discription-second p {
  margin-left: 5px;
  text-indent:5%;
}

.text-discription-second h4 {
  color: #1E88E5;
  margin-top: 2px;
  margin-left: 50px;
}


.login-form {
    display: none;
     width: 65%;
    height: 100%;
    background-color: #1E88E5;
  
}

label.text-login {
  text-align: center;
  color: #fff;
}


/*login*/

.header-text-login {
  width: 35%;
  height: 100%;
  margin:auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}

.header-text-login h3 {
  color: #1E88E5;
  text-align: center;
  font-family: 'opensanscondensed-light', sans-serif;
  
}



.lost a {
   
   border-bottom: 1px dashed #000080;
}

.header-text h1 {
   font-family: 'opensanscondensed-light', sans-serif;
}

.fonts-txt {
  font-family: 'opensanscondensed-light', sans-serif;
}

.main-fon {
    width: 100%;
    height: 90vh;
    background-image: url(../img/matrix.jpg);
    background-repeat: no-repeat;
    background-position: center center;
   
}

.main-fon-txt {
    width: 100%;
    height: 60vh;
    margin-top: 100px;
    background-color: rgba(0,97,214,0.75);
    padding: 20px;
}

.main-fon-txt h1 {
    font-family: 'opensanscondensed-light', sans-serif;
    color:#fff;
    text-transform: uppercase;

    
}

.main-fon-txt p {
    color:#fff;
    font-size: 19px;

}

.content-reg {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
}

.content-reg h3 {
    color: #1E88E5;
  text-align: center;
  font-family: 'opensanscondensed-light', sans-serif;
}

/*This is styles for frontend page*/

.frontend-contents {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}

.frontend-contents h1 {
    color: #1E88E5;
    text-align: center;
    font-family: 'opensanscondensed-light', sans-serif;
}

.txt_p {
    
    text-align: center;
    font-size: 19px;
}

.frontend-contents-card
 {
    float: left;
    width: 45%;
    height: auto;
    margin-left: 3.3%;
    
}

/*This is styles for backend page*/
.backend-contents {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}

.backend-contents h1 {
    color: #1E88E5;
    text-align: center;
    font-family: 'opensanscondensed-light', sans-serif;
}

/*This is styles for contacts page*/

.contacts-contents {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}

/*This is styles for blog page*/

.blog-contents {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 34px -5px rgba(0,0,0,0.75);

}